body { 
	padding-top: 50px;
	background-color: #f8f8f8;
}

.demo-list{
	margin-top: 20px;
}

.demo-header{
	padding: 50px 0;
	color:#fff;
	margin-bottom: 20px;
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}


.iframe-wrap{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: linear 0.4s;
	-moz-transition: linear 0.4s;
	-ms-transition: linear 0.4s;
	-o-transition: linear 0.4s;
	transition: linear 0.4s;
	height: 200px;
	position: relative;
}

.iframe-wrap.iframe-item{
	height: 400px;
}

.iframe-wrap.iframe-list{

}

iframe{
	border: 0;
	overflow: auto;
	background: none;
	width: 100%;
	height: 100%;
}

.iframe-wrap iframe{
	background: white;
	position: absolute;
	left: 0px;
	overflow: hidden;
}

.iframe-wrap.iframe-list iframe{
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
}

.iframe-wrap.iframe-item iframe{

}

.iframe-wrap.loaded {
	visibility: visible;
	opacity: 1;
}

.list-group a {
	text-transform: capitalize;
}