<div class="row">
	<div class="col-md-6 col-lg-6">
		<div class="input-group">
			<input type="text" class="form-control" data-ng-model="query"/>
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
			</span>
		</div>
	</div>
</div>
<section class="demo-list">
	<div class="row">
		<div data-ng-repeat="item in list | filter:query  | orderBy:index:reverse" class="col-md-4 col-lg-4">
			<div class="thumbnail">
				<div class="iframe-wrap iframe-list">
					<iframe src="{{item.iframe}}" onload="$(this).parent().addClass('loaded');"></iframe>
				</div>
				<div class="caption">
					<h3><a href="#demos/{{item.slug}}">{{item.title}}</a></h3>
					<p>{{item.description}}</p>
					<div class="well well-sm">By {{item.author}}</div>
				</div>
			</div>
		</div>
	</div>
</section>