<h2>Categories</h2>
<div class="list-group">
	<a data-ng-repeat="category in categories" href="{{category.href}}"  class="list-group-item {{categoryIsActive(category.name)}}">
		{{category.name}}
		<span class="badge">{{category.count}}</span>
	</a>
</div>
<h2>Stay tuned!</h2>
<iframe src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fjulienrenauxblog&amp;width=200&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;show_faces=true&amp;appId=206488179525466" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px;" allowTransparency="true"></iframe>
<iframe allowtransparency="true" frameborder="0" scrolling="no"
  src="//platform.twitter.com/widgets/follow_button.html?screen_name=julienrenaux"
  style="width:300px; height:20px;"></iframe>